<div class="container">
  <button type="button" class="btn btn-primary" (click)="getPageTask()" >Create new task</button>
  <br><br>
  <button type="button" class="btn btn-primary" (click)="deleteSelectTasks()" >Delete selected tasks</button>
  <br><br>
  <div>You can choose a filter:</div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Normal"
           (click)="selectNormalTasks()">
    <label class="form-check-label" for="inlineRadio1">Normal</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Important"
           (click)="selectImportantTasks()">
    <label class="form-check-label" for="inlineRadio1">Important</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Very Important"
           (click)="selectVeryImportantTasks()">
    <label class="form-check-label" for="inlineRadio1">Very important</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="All" checked
           (click)="selectAllTasks()">
    <label class="form-check-label" for="inlineRadio1">All</label>
  </div>
  <br><br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Importance</th>
      <th scope="col">Created date</th>
      <th scope="col">Deadline  date</th>
      <th scope="col">Completed date</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of taskArr">
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.importance}}</td>
      <td class="row">{{task.createdDate | date}}</td>
      <td >{{task.deadlineDate | date}}</td>
      <td>{{task.completedDate | date}}</td>
      <td>{{task.status}}</td>
      <td>
      <button type="button" class="btn btn-secondary" (click)="editTask(task.id)" >Edit task</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(task.id)"
      >Delete task</button>
      <button type="button" class="btn btn-success" style="margin-right: 1.5rem" (click)="completeTask(task.id)"
      >Completed task</button>
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="selectTask(task.id)" >
      </td>
    </tr>
    </tbody>
  </table>
</div>

